.car-list__button-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

ul {
    display: flex;
    flex-direction: column;
}

.car-list__item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative; 
    width: 100%;
}

.car-list__icon {
    width: 80px;
    height: 60px;
    transform: scaleX(-1);
}

.car-icon-container.driving .car-list__icon {
    animation: moveAnimation 3s linear forwards; 
  }
.car-icon-container.stopped .car-list__icon {
    animation: returnAnimation 1s ease;
}
@keyframes moveAnimation {
    100% { transform: translateX(400px); }
}

.car-icon-container {
    animation-name: moveAnimation;
    animation-duration: 3s;
    animation-timing-function: linear; 
    animation-fill-mode: forwards;
}

@keyframes returnAnimation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
