.car-list__item {
    display: flex;
    align-items: center;
    position: relative;
}

.car-icon-container {
    position: relative;
    width: 100%; 
}

.car-list__button-group {
    display: flex;
}

.car-list__name {
    margin: 0 10px 0;
    min-width: 100px;
    max-width: 150px;
}

.car-list__icon {
    position: absolute;
    top: 0;
    left: 0;
   width: 100px;
   height: 50px;
    transition: left 10s linear; 
}

.driving .car-list__icon {
    animation: moveCar 5s linear forwards; 
}

.stopped .car-list__icon {
    animation: none; 
}

@keyframes moveCar {
    0% { left: 0%; }   
    100% { left: 100%; } 
}